/* --- STYLES DESKTOP --- */
@media (min-width: 769px) {

    /* --- Navigation --- */
    #desktop-sidebar {
        display: flex; /* Afficher la sidebar sur desktop */
    }

    #home-nav-btn {
        display: none; /* Cacher le bouton flottant sur desktop */
    }

    body {
        padding-left: 230px;
        padding-top: 20px;
    }

    /* --- Filtres (Desktop) --- */
    #perilous-trials-section .desktop-pt-controls {
        display: flex;
    }
    #perilous-trials-section .mobile-pt-controls {
        display: none;
    }
    #teams-leaderboard-section #team-guild-filter-mobile {
        display: none;
    }
    /* SUPPRIMÉ : La règle qui cachait le bouton filters sur desktop */
    /* #players-leaderboard-section #open-filters-btn { display: none; } */

    /* S'assurer que les dropdowns du header sont visibles si cachés par défaut */
    .player-header-cell .dropdown-btn {
        display: inline-flex;
    }
}