/* --- STYLES DESKTOP --- */
@media (min-width: 769px) {

    /* --- Navigation --- */
    #desktop-sidebar {
        display: flex;
    }

    #home-nav-btn {
        display: none;
    }

    body {
        padding-left: 230px;
        padding-top: 20px;
    }

    header {
        margin-left: 0;
        width: auto;
    }

    /* --- Filtres (Desktop) --- */
    #perilous-trials-section .desktop-pt-controls {
        display: flex;
    }
    #perilous-trials-section .mobile-pt-controls {
        display: none;
    }
    #teams-leaderboard-section #team-guild-filter-mobile {
        display: none;
    }

    /* MODIFICATION ICI : On ne cache PLUS le bouton de filtre principal sur Desktop */
    /* #players-leaderboard-section #open-filters-btn { display: none; }  <-- SUPPRIMÉ */

}